.container {
  width: 400px;
  padding: 20px 0 0;
  border: 2px solid black;
  border-radius: 12px;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: grey;
}

.username {
  margin: 10px;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.about {
  margin: 10px;
  font-size: 24px;
  color: grey;
}

.statistic {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid grey;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: lightgrey;
}

.statisticCell {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statisticItem {
  font-size: 20px;
  color: black;
}

.statisticValue {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
